.wrap { background:#f0fff4; border:1px solid #9ae6b4; min-height:120px; margin: 5%;}
@media (max-height: 700px)  {  
  .wrap {
    margin: 10%;
  }
}

@media (max-height: 500px) {  
  .wrap {
    margin: 30%;
  }
}
